<h2>Teacher Dashboard</h2>

<table border="1">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for student in students %}

    <tr>

        <td>{{ student.full_name }}</td>
        <td>{{ student.email }}</td>

        <td>
            {% if student.is_active_student %}
                Active
            {% else %}
                Inactive
            {% endif %}
        </td>

        <td>

            <a href="{% url 'toggle_student_status' student.id %}">
                Toggle Status
            </a>

            |

            <a href="{% url 'delete_student' student.id %}">
                Delete
            </a>

        </td>

    </tr>

    {% endfor %}

</table>